<section>
  {{#person-data id=1 as |model|}}
    Hi {{model.name}}
  {{/person-data}}
</section>

<section>
  {{#person-data id=1 loading="loading-spinner" error="error-message" as |model|}}
    Hi {{model.name}}
  {{/person-data}}
</section>

<section>
  {{#person-data id=2 error="error-message" as |model|}}
    Hi {{model.name}}
  {{/person-data}}
</section>

<section>
  {{#person-data-sync id=1 loading="loading-spinner" as |model|}}
    Hi {{model.name}}
  {{/person-data-sync}}
</section>
